* {
  font-family: "Audiowide", sans-serif;
  color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 50px;
}

.left-column h1 {
  font-size: 50px;
}
.left-column h3 {
  font-size: 25px;
}

.left-column p {
  font-size: 18px;
  margin: 20px 0;
}
.btn {
  display: flex;
  justify-content: start;
  align-items: center;
}

.btn button {
  padding: 7px 30px;
  margin-right: 15px;
  border: 1px solid #006f8b;
  border-radius: 10px;
  background: linear-gradient(#728fce, #47ccc5);
  box-shadow: 0 2px 15px rgba(40, 67, 135);
  color: rgba(255, 255, 255, 0.986);
}

.icons {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 20px;
  color: #1a1a40;
}

.icons div {
  margin: 20px;
}

.right-column {
  width: 50vw;
  height: fit-content;
}